.nomeTitulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 650;
    color:#094891;
    font-size: 30px;       
}
.descricaoTipo{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 150;
    font-size: 0.8em;
    color:#094891;
}
.bigLetter{                 
    font-style: oblique;
    font-size: 1.5em;
}
.bigItalicLetter{
    font-style: italic;
    font-size: 1.3em;
}
.picture {
    border-radius: 5%;
    width: 100px;
  }
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom, #8fb3ca, #56a75a);
}
a {
    color:#3d1fa8;
}